<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANEPA | Проектный Офис | Добро пожаловать!</title>

    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header class="header container">

    </header>

    <main class="main container">
        <section class="adv-card">
            <img class="adv-img" src="img/logo-po-svg.svg" alt="Лого ПО">

            <h1 class="adv-title rubik-title">
                ПРОЕКТНЫЙ ОФИС
            </h1>

            <p class="adv-descr montserrat-text">
                Дарим крылья мечтам студентов
            </p>

        </section>
    </main>

    <footer class="footer container">

    </footer>    
</body>
</html>